*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #1d1d1d;
    display: block;
}

/* reset end */

.wrap{
    width: 1200px;
}

header{
    width: 100%;
    height: 100px;
    /* display: flex;
    margin: 0 auto; */
    background-color: lightskyblue;
}

.logo{
    width: 400px;
    height: 100px;
}

#menu_bg{
    width: 1200px;
    height: 160px;
    position: absolute;
    display: none;
    z-index: 2;
    top: 100px;
    background-color: #bbb;
}

.logg{
    float: left;
    width: 250px;
    height: 100px;
}

.menu{
    float: right;
    width: 800px;
    height: 100px;
    z-index: 1;
}

.navi{
    float: right;
    margin-top: 50px;
    margin-right: 0px;
}

.navi>li{
    float: left;
}

.navi>li>a{
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.navi>li>a:hover{
    background-color: royalblue;
}

.submenu{
    width: 200px;
    height: 40px;
    position: absolute;
    display: none;
    z-index: 3;
    background-color: #bbb;
}

.submenu>li>a{
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #bbb;
    color: #333;
}

.submenu>li>a:hover{
    background-color: royalblue;
}


